@import "./animations.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;    
}

.nav_menu{
    text-align: center;
    margin-top: 20px;
}

.nav_menu a{
    padding: 14px 16px;
    color: black;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.3s;
}

.nav_menu a:hover{
    background-color: rgb(37, 152, 197);
    color: white;
    text-decoration: underline;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bottom_separator{
    margin-top: 15px;
    border: 2px black solid;
}

.top_separator{
    margin-top: 10px;
    margin-bottom: -5px;
    border: 2px black solid;
}

.loader{
    border: 16px solid rgb(207, 207, 207);
    border-top: 16px solid royalblue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 300px;
}

.loading_screen{
    background-color: white;
    text-align: center;
    min-width: 1000px;
    min-height: 1000px;
    overflow-y: hidden;
    overflow: hidden;
    background-size: cover;
    display: none;
    display: flex;
}

.see_more{
    color: black;
    font-size: 50px;
    transition: all 0.3s;
}

.see_more:hover{
    cursor:pointer;
    color: white;
    background-color: goldenrod;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
