@import "./animations.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.work{
    border: white 2px solid;
    width: 80%;
    margin-top: 30px;
    border-radius: 15px;
    height: auto;
    background-color: rgba(0, 128, 128, 0.534);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ui_rate_btn{
    width: 500px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(0, 255, 0);
    border: 2px solid black;
    border-radius: 15px;
    color: white;
    transition: box-shadow  0.5s, background-color 0.5s, border-color 0.5s;
}

.ui_rate_btn:hover{
    background-color: firebrick;
    border-color: rgb(0, 255, 0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.678) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ui_summary_goback_button{
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    transition: color 0.6s, font-size 0.6s;
}

.ui_summary_goback_button:hover{
    color: salmon;
    font-size: 40px;
}