@import "./animations.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.nav_menu{
    text-align: center;
    margin-top: 20px;
}

.nav_menu a{
    padding: 14px 16px;
    color: black;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.3s;
}

.nav_menu a:hover{
    background-color: rgb(37, 152, 197);
    color: white;
    text-decoration: underline;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bottom_separator{
    margin-top: 15px;
    border: 2px black solid;
}

.top_separator{
    margin-top: 10px;
    margin-bottom: -5px;
    border: 2px black solid;
}
